<div class= "filters">
    <div class="form-container"></div>
    <input id="name">
    <button class="button-filter">
        Filter
    </button>
</div>

<div id="addTopo">
    <div class="field">
        <div>
            <label for="name">Name:</label>
        </div>
        <input class="name" type="text" name="name"/>
    </div>
    <div class="field">
        <div>
            <label for="description">Description:</label>
        </div>
        <textarea class="description" type="text" name="description"></textarea>
    </div>
    <div class="field">
        <button class="add-topo">
            Add Topo
        </button>
    </div>
</div>