<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Topos De NatGeo</title>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="../css/styles.css" rel="stylesheet" type="text/css">
        <script data-main="../js/src/main" src="../js/libs/require/require.js"></script>
    </head>

    <body>

        <div id="wrapper">
            <header id= "header">Home De Topos </header>
            <div id= "menu">
                <ul class= "content"></ul>
            </div>
            <div id= "container"> Este es el contenido
            </div>
            <footer id= "footer">Este Es El Footer</footer>
        </div><!-- END .wrapper -->
    </body>
</html>