<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title></title>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="../css/styles.css" rel="stylesheet" type="text/css">
        <script data-main="../js/src/main" src="../js/libs/require/require.js"></script>
    </head>

    <body>

        <div class="wrapper">
            <header></header>

            <aside>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                    </ul>

                </nav>
            </aside>

            <article class="content"></article>

            <footer></footer>
        </div><!-- END .wrapper -->
    </body>
</html>